body {
    padding: 5% 20%;
    background-color: cornflowerblue;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}
body *{
    background-color: aqua;
}

h1{
    font-size: 4.2em;
}
h2{
    font-size: 3.2em;
}
p, li, a {
    font-size: 1.8em;
    color: darkslateblue;
    text-decoration: none;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
}